.backgroundCover {
  background-image: url('/src/images/fantasyhouse.jpg');
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  display: flex;
}

.entrybutton {
  scale: 3;
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  font-family: Bricklay;
}

.buttoncontainer {
  justify-content: center;
}

.title1, .title3 {
  color: white;
  font-size: 200px;
}

.title1 {
  font-family: Bricklay;
}

.title3 {
  font-family: Endor;
}

.introtext {
  font-family: Halfelven;
  font-size: 50px;
}

.introcard {
  height: 100vh;
  align-items: center;
}

.cardset {
  height: 25vh;
  align-items: center;
}

@font-face {
  font-family: "Almendra";
  src:
  local("Almendra"),
    url('../fonts/Almendra-Regular.ttf') format ('ttf');
}

@font-face {
  font-family: "Bricklay";
  src:
  local("Bricklay"),
  url('../fonts/bricklay/BricklayDemoRegular.ttf')
}

@font-face {
  font-family: "Halfelven";
  src:
  local("Halfelven"),
  url('../fonts/half-elven/halfelven.ttf')
}

@font-face {
  font-family: "Endor";
  src:
  local("Endor"),
  url('../fonts/endor/ENDOR___.ttf')
}
