.background {
  background-image: url('/public/dungeonDoor.jpg');
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  justify-content: center;
}

.button {
  scale: 3;
  background-color: hsl(330,83.72%,16.86%);
  color: hsl(356.44,67.05%,34.51%);
  font-family: Almendra;
}

.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

@font-face {
  font-family: "Almendra";
  src:
  local("Almendra"),
    url('./fonts/Almendra-Regular.ttf') format ('ttf');
}